@font-face
{
	font-family:"Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("TrueType");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:"Roboto";
	src: url("../fonts/Roboto-Italic.ttf") format("TrueType");
	font-weight:normal;
	font-style:italic;
}

@font-face
{
	font-family:"Roboto";
	src: url("../fonts/Roboto-Bold.ttf") format("TrueType");
	font-weight:bold;
	font-style:normal;
}

/*GENERAL RULES*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    height: 100vh;
    font-size: 18px;
    color: black;
    font-family: "Roboto";
}

a
{
    text-decoration:none;
    color: inherit;
    outline-style: none;
}

li 
{
    list-style: none;
}

/*-----RULES FOR DESKTOP MEDIA ALL*/
h1 
{
    color:white;
    font-size: 4.5em;
    text-align: center;
}

h2 
{
    border-bottom: 1px solid #ffffffa2;
    font-size: 3em;
    margin-bottom:3vh;
    position: relative;
    z-index: 3;
    overflow:hidden;
}

p 
{
    line-height: 1.6em;
}

header
{
    height:12vh;
    position:sticky;
    z-index:5;
    top:0;
    background-color: #2d6195;
    color:white;
    transition: all 0.8s ease-in-out;
}

/*----HEADER MENU----*/
.menu-header
{
    width:40%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

.menu-header > button
{
    display:none;
}

.menu-header-list
{
    width:100%;
    height:100%;
    padding:5% 0 5% 0;
    display:inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

.menu-header-list li
{
    display:inline;
    margin: 0 auto 0 auto;
}

.menu-header-list a
{
    font-size:21px;
    font-weight: bold;
    padding:15% 5% 15% 5%;
    white-space: nowrap;
}

.menu-header-list a:hover
{
    background-color: white;
    color:#2d6195;
}

.active-anchor
{
    border-bottom: 1px solid #ffffffd5;
}

/* rules for header while scrolling */
.hidden-header
{
    color:#2d6195;
    background-color:rgba(255, 255, 255, 0.877);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    opacity:0%;
}

.hidden-header:hover
{
    opacity:100%;
}

.filler-top
{
    background-color: #2d6195;
    height:12vh;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-5;
}

.page-scrolled
{
    color:#2d6195;
    background-color:rgba(255, 255, 255, 0.877);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    transition: all 1s ease-in-out;
}

.page-scrolled .menu-header-list a:hover
{
    background-color:#2d6195;
    color:white;
}

.page-scrolled .active-anchor
{
    border-bottom: 1px solid #2d6195d5;
}
/* end .page-scrolled rules*/

.container-title
{
    background: linear-gradient(0deg, #4f8699 0%, #2d6195 60%);
    box-shadow: inset 0 -10px 12px -2px #5497a7;
    height: 80vh;
    padding-top:15vh;
}

/*----SECTIONS ----*/
main
{
    position:relative;
}

main > section
{
    position:relative;
    overflow:hidden;
}

.collapsed .container-sec
{
    height:183px;
}

.toggle-collapse
{
    position: relative;
    z-index: 3;
    left:calc(50% - 39px);
    margin-bottom:15px;
    color:#ffffffb9;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    background: none;
    border:none;
    text-align: center;
}

.collapsed .toggle-collapse::before
{
    content:"";
    margin-bottom:5px;
    border: solid #ffffffb9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position:relative;
    left:calc(50% + 2px);
    top:18px;
}

.open::after
{
    content:"";
    margin-bottom:5px;
    border: solid #ffffffb9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    position:relative;
    right:calc(50% - 4px);
    top:-18px;
}


.toggle-collapse:hover
{
    cursor:pointer;
    text-decoration: underline;
}

.toggle-collapse:focus
{
    outline:none;
}

.container-sec
{
    position:relative;
    z-index: 1;
    height:750px;
}

.container-sec p
{
    position: relative;
    z-index: 3;
}

main > section .wave
{
    width:100%;
    height:2vh;
    position: relative;
    z-index: 2;
}

main > section:nth-of-type(2) .wave
{
    background-image: url("../img/wave1-2.svg");
}

main > section:nth-of-type(3) .wave
{
    background-image: url("../img/wave2-3.svg");
}

main > section:nth-of-type(4) .wave
{
    background-image: url("../img/wave3-4.svg");
}

main > section:nth-of-type(1)
{   
    background-color: #5497A7;
}

main > section:nth-of-type(2)
{
    background-color: #62A8AC;
}

main > section:nth-of-type(3)
{
    background-color: #78CAD2;
}

main > section:nth-of-type(4)
{
    background-color: #A1D2CE;
}

main > section:nth-of-type(odd) .container-sec
{
    text-align:left;
    max-width:50vw;
    margin-right:auto;
    padding:70px 45px 100px 45px;
}

main > section:nth-of-type(even) .container-sec
{
    text-align: right;
    max-width:50vw;
    margin-left:auto;
    padding:70px 45px 100px 45px;
}

.bot-anchor-bg
{
    height:100px;
    width:100%;
    background-color: #abd3d0;
    position:relative;
    padding-top:40px;
}

#bot-anchor
{
    display:none;
    position:relative;
    left:calc(50% - 79px);
    color:#50858B;
    border:2px solid #50858B;
    border-radius:12px;
    padding:10px;
    font-weight: bold;
}

#bot-anchor:hover
{
    background-color: #50858B;
    color:white;
}

footer
{
    background-color: #50858B;
    height:25vh;
}

/*-----MEDIA MOB L & MOB M-----*/
@media screen and (min-width:641px) and (max-width:1024px)
{
    h1
    {
        font-size: 4em;
    }

    header
    {
        height:8vh;
    }

    .container-title
    {
        height:80vh;
    }

    .container-sec
    {
        height:700px;
    }

    main > section:nth-of-type(odd) .container-sec,
    main > section:nth-of-type(even) .container-sec
    {
        min-height: auto;
        max-width: none;
        padding-bottom:100px;
        text-align: left;
    }

    .collapsed .toggle-collapse
    {
        color: white;
        box-shadow: 0 0 4px 4px rgb(41 41 41 / 27%);
        background-color: #50858bd4;
        border-radius: 20px;
        padding: 5px 8px 5px 8px;
    }

    .collapsed .toggle-collapse::before
    {
        border-color:white;
        top:21px;
    }

    .open::after
    {
        top:-14px;
    }

    .toggle-collapse:hover
    {
        text-decoration: none;
    }

    .active-section .bubbles-3-4::after
    {
        display:none;
    }

    .active-section::before
    {
        display:none;
    }
}

/*-----MEDIA MOB S-----*/
@media screen and (max-width:640px)
{
    h1
    {
        font-size: 2.5em;
    }
    
    h2
    {
        font-size: 2em;
    }

    header
    {
        height:8vh;
    }

    .container-title
    {
        height:70vh;
    }

    main > section:nth-of-type(odd) .container-sec,
    main > section:nth-of-type(even) .container-sec
    {
        min-height: auto;
        max-width: none;
        padding: 50px 20px 70px 20px;
        text-align:left;
    }

    .container-sec p
    {
        font-size: 16px;
    }

    .collapsed .toggle-collapse
    {
        color: white;
        box-shadow: 0 0 4px 4px rgb(41 41 41 / 27%);
        background-color: #50858bd4;
        border-radius: 20px;
        padding: 5px 8px 5px 8px;
    }

    .collapsed .toggle-collapse::before
    {
        border-color:white;
        top:21px;
    }

    .open::after
    {
        top:-12px;
    }

    .toggle-collapse:hover
    {
        text-decoration: none;
    }

    .active-section .bubbles-3-4::after
    {
        display:none;
    }

    .active-section::before
    {
        display:none;
    }
}



/*-----MENU MOBILE-----*/
@media screen and (max-width:1024px)
{
    #menu-mob:focus
    {
        outline:none;
    }

    .page-scrolled > .menu-header > button
    {
        color:#2d6195;
        border-color:#2d6195;
    }

    .menu-header > button
    {
        display:block;
        height:40px;
        margin: auto 0 auto 2vw;
        padding:8px 16px 8px 16px;
        border:1px solid white;
        border-radius:25px;
        background-color: transparent;
        color:white;
        font-size: 20px;
        font-family: inherit;
        font-weight: bold;
        text-transform: uppercase;
    }

    .menu-header > .menu-mob-active
    {
        color:#2d6195;
        background-color: white;
    }

    .page-scrolled > .menu-header > .menu-mob-active
    {
        background-color:transparent;
    }

    .page-scrolled > .menu-header > button:not(.menu-mob-active)::after
    {
        border: solid #2d6195;
        border-width: 0 3px 3px 0;
    }

    .menu-header > button::after
    {
        content:"";
        margin-left: 15px;
        margin-bottom:5px;
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .menu-header > .menu-mob-active::after
    {
        background-image: url("../img/menu_close.svg");
        background-size: cover;
        padding:0;
        margin:0;
        margin-left:13px;
        border:0;
        width:13px;
        height:13px;
        transform:none;
        -webkit-transform:none;
    }
    .menu-header
    {
        width:auto;
        display:flex;
        flex-direction: row;
        align-content: center;
    }

    .page-scrolled .menu-header-list
    {
        background-color: rgba(255, 255, 255, 0.877);
    }

    .menu-header-list
    {
        display:none;
        flex-direction: column;
        position:absolute;
        top:100%;
        background-color: white;
        width:200px;
        height:auto;
        padding:0;
    }
 
    .menu-mob-active + .menu-header-list
    {
        display:flex;
    }

    .menu-header-list li
    {
        display:block;
        width:100%;
    }

    .menu-header-list a,
    .menu-header-list a:hover,
    .page-scrolled .menu-header-list a:hover
    {
        width:100%;
        padding:20px 10px 20px 20px;
        color: #2d6195;
        display:block;
        background-color: transparent;
    }

    .active-anchor,
    .page-scrolled .active-anchor
    {
        border:none;
    }
}



/*-----SECTION ANIMATIONS-----*/

    /* active section title animation*/
@keyframes bubblePop
{
    from {
        opacity:1;
        transform: scale(1);
        margin-bottom:0;
    }
    50%{
        transform: scale(1.05);
    }
    55%{
        opacity:1;
        transform: scale(1.15);
        margin-bottom:15px;
    }
    56%{
        opacity:0;
        transform: scale(1.3);
    }
    99%{
        opacity:0;
        transform: scale(1.3);
        margin-bottom:15px;
    }
    to{
        opacity:0;
        transform: scale(1);
        margin-bottom:0;
    }          
}

@-webkit-keyframes bubblePop
{
    from {
        opacity:1;
        transform: scale(1);
        margin-bottom:0;
    }
    50%{
        transform: scale(1.05);
    }
    55%{
        opacity:1;
        transform: scale(1.15);
        margin-bottom:15px;
    }
    56%{
        opacity:0;
        transform: scale(1.3);
    }
    99%{
        opacity:0;
        transform: scale(1.3);
        margin-bottom:15px;
    }
    to{
        opacity:0;
        transform: scale(1);
        margin-bottom:0;
    }                
}

.active-section h2::after
{
    content: "";
    width:50px;
    height:50px;
    border-radius: 50%;
    position:absolute;
    bottom:-10%;
    left:43%;
    z-index:1;
    background: radial-gradient(#e9e9e91c,#64c8e06b);
    box-shadow: 0px 0px 12px -1px #6f6f6f6e;
    animation: bubblePop 3s cubic-bezier(.24,.85,.47,.99) infinite;
    -webkit-animation: bubblePop 3s cubic-bezier(.24,.85,.47,.99) infinite;
}



    /*animation bubble from bot to top keyframes*/
@keyframes bubbleTop 
{
    from {
        margin-bottom: 0%;
    }
    to {
        margin-bottom: 1000px;
    }
}

@-webkit-keyframes bubbleTop
{
    from {
        margin-bottom: 0%;
    }
    to {
        margin-bottom: 1000px;
    }
}

    /*side bubble animation keyframes*/
@keyframes bubbleSide
{
    from {
        margin-left:0;
    }
    to {
        margin-left:50px;
    }
}

@-webkit-keyframes bubbleSide
{
    from 
    {
        margin-left:0;
    }
    to 
    {
        margin-left:50px;
    }
}

    /*bubble elements generic*/
.active-section::after,
.active-section::before,
.active-section .bubbles-3-4::before,
.active-section .bubbles-3-4::after,
.active-section .bubbles-5-6::before,
.active-section .bubbles-5-6::after
{
    content: "";
    border-radius: 50%;
    position:absolute;
    bottom: -25%;
    background: radial-gradient(#e9e9e91c,#64c8e06b);
    box-shadow: 0px 0px 12px -1px #6f6f6f6e;
}

    /*bubble #1*/
.active-section::after
{  
    width: 100px;
    height: 100px;
    left: 75vw;
    animation: bubbleTop 1s linear infinite, bubbleSide 2s ease-in-out alternate infinite;
    -webkit-animation: bubbleTop 9s linear infinite, bubbleSide 2s ease-in-out alternate infinite;     
    animation-delay: 0s;
}

    /*bubble #2*/
.active-section::before
{      
    width: 150px;
    height: 150px;
    left: 35vw;
    animation: bubbleTop 1s linear infinite, bubbleSide 2s ease-in-out alternate infinite;
    -webkit-animation: bubbleTop 10s linear infinite, bubbleSide 2s ease-in-out alternate infinite;     
    animation-delay:1.5s;
}
    
    /*bubble #3*/
.active-section .bubbles-3-4::before
{ 
    width: 80px;
    height: 80px;
    left: 13vw;
    animation: bubbleTop 1s linear infinite, bubbleSide 2s ease-in-out alternate infinite;
    -webkit-animation: bubbleTop 8s linear infinite, bubbleSide 2s ease-in-out alternate infinite;     
    animation-delay:3s;
}

    /*bubble #4*/
.active-section .bubbles-3-4::after
{       
    width: 60px;
    height: 60px;
    left:48vw;
    animation: bubbleTop 1s linear infinite, bubbleSide 2s ease-in-out alternate infinite;
    -webkit-animation: bubbleTop 7.2s linear infinite, bubbleSide 2s ease-in-out alternate infinite;     
    animation-delay:4.5s;
}

/*bubble #5*/
.active-section .bubbles-5-6::before
{       
    width: 50px;
    height: 50px;
    left:67vw;
    animation: bubbleTop 1s linear infinite, bubbleSide 2s ease-in-out alternate infinite;
    -webkit-animation: bubbleTop 6.7s linear infinite, bubbleSide 2s ease-in-out alternate infinite;     
    animation-delay:6s;
}

/*bubble #6*/
.active-section .bubbles-5-6::after
{       
    width: 30px;
    height: 30px;
    left:22vw;
    animation: bubbleTop 1s linear infinite, bubbleSide 2s ease-in-out alternate infinite;
    -webkit-animation: bubbleTop 6.2s linear infinite, bubbleSide 2s ease-in-out alternate infinite;     
    animation-delay:7s;
}

/*-----END SECTION ANIMATION-----*/